.all-surah {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    gap: 30px;
    justify-content: center;
}

.surah {
    min-width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: white;
    box-shadow: 0 14px 10px #0000000a, 0 6px 15px #00000005;
    position: relative;
}

.surah-number {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    top: 8px;
    position: absolute;
    clip-path: polygon(0 26%, 100% 0%, 100% 74%, 0% 100%);
    right: -15px;
    left: inherit;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .26);
    color: var(--default_text_color);
    color: #4B7C3D;
    background-color: #d0dcc4;
    border-radius: 4px;
    font-size: 15px;
}